/* .clockContainer{

    
} */

.clock {
    text-align: center;
    background-color: rgb(243, 86, 86);
    color: black;
    border: 10px solid black;
    border-radius: 4rem;
    width: 300px ; 

    width: 300px ;
}

.pokemonCard {
    margin: none;
}

.containerMain {
    margin-top: 5rem;
}
