body{
    background-image: url('./Components/Imagenes/fondo.jpg');
    background-repeat: repeat;
}

.clock {
    text-align: center;
    background-color: rgb(243, 86, 86);
    color: black;
    border: 10px solid black;
    border-radius: 4rem;
    width: 300px ; 
    width: 300px ;
}

.containerMain {
    margin-top: 5rem;
}

.titleTxt:first-letter {
    text-transform: uppercase;

}
.titleTxt{
    font-weight: bold; 
}

.imageType{
    margin-right: 1rem;
}

.btnShiny{
    text-align: end;
    cursor: pointer;
}

.btnShiny:hover{
    cursor: pointer;
}

.notSelectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.br-5 {
    border-radius: 5px;
}

/***************************************************************************************/
/********************************* Carta Pokemon ***************************************/
/***************************************************************************************/

.carta{
    margin: auto;
    border-radius: 5px !important;
    border-color: #f6c41c;
    border-style: solid;
    border-width: 0.5rem;
    height: 25rem;
    width: 15rem;
}

.cartaHeader{
    padding-left: 1rem;
    padding-right: 1rem;
}

.cartaImg {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-style: solid !important;
    border-color: #f6c41c!important;
    border-width: 0.3rem;
    background-image: url('https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/c/c9/Pok%C3%A9mon_Go_Grass_Field_Based_On.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

.imageType{
    border-radius: 100%;
    background-color: black;
}

.cartaBodyTypes {
    padding: 1rem;
}

.pokedexIcon {
    margin-top: -3px;
}


/***************************************************************************************/
/*************************************** Carusel ***************************************/
/***************************************************************************************/

.carusel {
    background-image: url('https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/c/c9/Pok%C3%A9mon_Go_Grass_Field_Based_On.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}